*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(35, 35, 35);
}

h1{
    color: white;
}
select{
    background-color: blue;
    padding: 3px;
    color: white;
    border: none;

}

#input{

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    
    
}


#Pagecontainer{
    width: 100%;
    height: 150vh;
}

#inputContainer{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  
    

   
}

input{
    background-color: none;
   
    padding: 3px;
    
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid rgba(206, 205, 205, 0.322);
    color: rgb(255, 255, 255);

    
    
   
}

input::placeholder{
    color: rgb(73, 73, 73);
    padding: 10px;
}


#output{
    color: rgb(130, 130, 130);
    padding: 10px;
    color: white;

}

#outputContainer{
    background-color: rgb(45, 45, 45);
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    
}

#symbol{
    width: 40px;
    height: 20px;
    margin: 20px;
}

#Title{
    font-family: 'Lato', sans-serif;
    color: rgb(255, 140, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.778);
}



#submitButton{
    background: none;
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    position: relative;
    top: 20px;
}

#submitButton:hover{
    opacity: 60%;
    cursor: pointer;
}
#Content{
    color: rgb(170, 168, 168);
    width: 60%;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-top: 12px;
   
}

#contentContainer{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;

}
#githubLink{
    padding-right: 20px;
    width: 25px;
    height: 25px;
    opacity: 80%;
}
 
#githubLink:hover{
    opacity: 20%;
    cursor: pointer;

}

footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 50, 50);
    
}

@media only screen and (max-width: 600px) {
    #Pagecontainer{
        width: 100%;
        height: 170vh;
    }

    #contentContainer{
        width: 100%;
        height: 30vh;
        
        padding-top: 40vh;
    
    }

    #Title{
       
        font-size: 23px;
        
    }

    #Content{
       
        font-size: 10px;
       
    }
  }